<!-- This file will bring up the robot description only, not used within the bringup! -->
<!-- also you will enable/disable all sensors for the model -->
<launch>
  <!-- arguments for the realsense camera to load -->
  <!--<arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" /> -->
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find patrol_description)/urdf/patrol.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find patrol_description)/rvizcofig.rviz"/>

</launch>

