<!-- -*- mode: XML -*- -->
<launch>
  <!-- Change car name to match the name of the car, e.g. car1 -->
  <arg name="car_name" default="car" />

  <group ns="$(arg car_name)">

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam1"/>
        <arg name="serial_no" value="044322072365"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="15"/>
        <arg name="align_depth" value="true"/>
        <arg name="enable_sync" value="true"/>
        <arg name="enable_pointcloud" value="true"/>        
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam2"/>
        <arg name="serial_no" value="827112070846"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="15"/>
        <arg name="align_depth" value="true"/>
        <arg name="enable_sync" value="true"/>
        <arg name="enable_pointcloud" value="true"/>
    </include>

    <!-- Realsense launch - cam0(F), cam1(L), cam2(R) -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam0"/>
        <arg name="serial_no" value="841612071482"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="15"/>
        <arg name="align_depth" value="true"/>
        <arg name="enable_sync" value="true"/>
        <arg name="enable_pointcloud" value="true"/>        
    </include>

  </group>
</launch>
