<!-- -*- mode: XML -*- -->
<!-- Launch this on remote computer -->
<launch>
  <!-- Change car name to match the name of the car, e.g. car1 -->
  <arg name="car_name" default="car" />
  
  <arg name="launch_rviz" default="false" /> 

  <group ns="$(arg car_name)">

    <include file="$(find mushr_base)/launch/includes/racecar_state.launch">
        <arg name="tf_prefix" value="" />
    </include>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find patrol_description)/urdf/patrol.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find patrol_description)/config/rvizconfig.rviz"/>

  </group>
</launch>
