<?xml version="1.0"?>
<launch>

  <node pkg="um6" type="um6_driver" name="um6_driver">
    <param name="port" type="string" value="/dev/sensors/um6"/>
    <param name="mag_updates" type="bool" value="false"/>
    <param name="use_magnetic_field_msg" type="bool" value="true"/>
    <param name="frame_id" value="imu_link"/> 
    <param name="tf_ned_to_enu" value="true"/> 
    <remap from="imu" to="imu_um6"/>
  </node>

</launch>